<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block style %}{% endblock %}

    {# 百度统计 #}
    <script>
        (function () {
            let hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?3fff78ad08b6161b903a61bceb25adb1";
            let s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    {# Google Analytics #}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9J2VKMZMSN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-9J2VKMZMSN');
    </script>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
